<a href="https://colab.research.google.com/github/rhodes-byu/cs-stat-180/blob/main/notebooks/03a-pandas-intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a><p><b>After clicking the "Open in Colab" link, copy the notebook to your own Google Drive before getting started, or it will not save your work</b></p>

# Pandas

The pandas module is one of the most powerful tools for data analysis.  Pandas was designed to work with tabular and heterogeneous data.  The original author of pandas is Wes McKinney, so it makes sense that most of his book "Python for Data Analysis" covers the functionality of pandas. In fact, chapters 5 - 11 are basically about what pandas can do.  

Here are some of the things that I hope you can do by the end of the section:
* Create Series and DataFrames (ch 5)
* Index, slice, and filter (ch 5)
* Examine your data (ch 5)
* Compute summarization and descriptive statistics (ch 5)
* Drop rows and columns (ch 5)
* Create columns (ch 5)
* Count the number of missing values (ch 7)
* Drop or fill missing values (ch 7)
* Drop duplicate rows (ch 7)
* Combine categories of categorical data (ch 7)
* Discretize numerical data (ch 7)
* Have some practice with hierarchical indexing (ch 8)
* Reset the index (ch 8)
* Merge and concatenate DataFrames (ch 8)
* Simple plots with pandas (ch 9)
* Use .groupby() for category aggregation (ch 10)
* Fill missing values by group summary statistics (ch 10)

## Importing Pandas

It is standard to use the alias ``pd`` when importing pandas.
~~~
import pandas as pd
~~~
I usually import numpy at the same time since pandas and numpy are often used in tandem.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Note: you can install pandas within the notebook:
# !pip install pandas
# OR
# !conda install pandas

In [ ]:
# Try:  Create a Series from a list
x = [1,2,3,4,5]
lab = ['a','b','c','d','e']

s = pd.Series(x, index=lab)
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
# Creating a Series with a dictionary

d = pd.Series({'a': 1, 'b': 2, 'c': 3})
print(d)

## DataFrames
DataFrames are the main data structure of pandas and were directly inspired by the R programming language.  DataFrames are a bunch of Series objects put together to share the same (row) index.  A DataFrame has both a row and a column index.  

## Creating DataFrames
DataFrames can also be created from lists, dictionaries, or numpy arrays.
Syntax: pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)

In [ ]:
x = [[1, 2, 3],
     ['a', 'b', 'c'],
     [4, 5, 6]]

x_df = pd.DataFrame(x, columns = ['p', 'd', 'q'], index = ['x', 'y', 'z'])
print(x_df)

In [ ]:
# Create a simple DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 75000]}

df = pd.DataFrame(data)

# Display the DataFrame
df

In [ ]:
# Accessing specific columns
names = df['Name']
ages = df['Age']

In [ ]:
print("Names: \n", names)
print("Ages: \n", ages)

In [ ]:
# Add a new column calculated from existing columns
df['Birth Year'] = 2023 - df['Age']

# Display the DataFrame with the new column
df.head()

In [ ]:
# Sort the DataFrame by Age in descending order
df_sorted = df.sort_values(by='Birth Year', ascending=True) # Note: Sorting can also be done in-place with inplace=True

# Display the sorted DataFrame
df_sorted.head()

## Read in some practice data

pd.read_csv can be used to load in external .csv files  
We can access a summary of the data using df.info()  
We can use df.head() to view the first view entries

In [ ]:
# Iris data
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
iris = pd.read_csv(url, names=['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class'])

## Looking at your DataFrame

``df.head()``  
``df.tail()``  
``df.shape``  
``df.info()``  
``df.describe()``   
``df.columns``

In [ ]:
iris.shape

In [ ]:
iris.columns

In [ ]:
iris.head()

In [ ]:
iris.info()

In [ ]:
iris.describe()

In [ ]:
# Rename columns
iris.rename(columns={'class': 'species'}, inplace=True)

# Display the DataFrame with renamed columns
iris.head()

## Basic Plotting
Pandas can be used for basic plotting, but we will cover more later

In [ ]:
iris['sepal_length'].plot.hist(bins=20)

In [ ]:
iris.plot.scatter('sepal_length','sepal_width', c='petal_width')

In [ ]:
iris.plot.box()

In [ ]:
iris.plot.kde()

---

## Selection and Indexing

There are various ways to get subsets of the data.  In the following ``df`` refers to a DataFrame.

#### Selecting columns
One column (producing a Series)
~~~
df['column_name']  # Prefered method
df.column_name 
~~~
---

Multiple columns (producing a DataFrame)
~~~
df[['column_name']] # this will produce a DataFrame
df[['col1', 'col2', 'col3']]
~~~
---

#### Selecting row and columns with ``loc`` and ``iloc``
~~~
df.loc['row_name', 'col_name'] 
df.iloc['row index', 'col index']
~~~

``loc`` and ``iloc`` also support slicing.  Note: when slicing with ``loc``, the end point IS including (but not when slicing with ``iloc``.

---
~~~
df.loc['row_name1':'row_name2', 'col_name1':'col_name2']
df.loc[:, 'col_name1':'col_name2']
df.loc['r1':'r2', :]
df.loc[['r1','r2','r3'],['c1','c2]]
~~~
*When using `.loc()`, `row_name2` and `col_name2` WILL be included*

---
~~~
df.iloc[index1:index2, col1:col2]
~~~
*When using `.iloc()`, `index2` and `col2` will NOT be included*

---
#### Selecting rows based on column condition
~~~
df[df[boolean condition]]

df[mask]
~~~

In [ ]:
iris.loc[0:5, ['petal_width', 'petal_length']]

In [ ]:
iris.iloc[0:2, 0:]

In [ ]:
iris['sepal_length'] > 6

In [ ]:
## Slicing with a boolean series
iris[iris['sepal_length'] > 6]

In [ ]:
# Filter data using multiple conditions (Note the parentheses!)
filtered_iris = iris[(iris['sepal_length'] > 6) & (iris['petal_length'] > 5)]
filtered_iris.head()

In [ ]:
# Reset to default 0,1...n index
filtered_iris.reset_index(drop = True).head()

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [ ]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

In [ ]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [ ]:
df.loc['G1']

In [ ]:
df.loc['G1'].loc[1]

In [ ]:
df.index.names

In [ ]:
df.index.names = ['Group','Num']

In [ ]:
df

In [ ]:
# The xs() method in pandas is used to extract a cross-section from a DataFrame or Series
df.xs('G1', level = 0)

In [ ]:
df.xs(1, level = 1)

In [ ]:
df.xs(1, level = 1).reset_index()
# df.xs(1, level = 1).reset_index(drop = True)

## Methods for computing summary and descriptive statistics
pandas objects have many reduction / summary statistics methods that extract a single value from the rows or columms of a DataFrame.  See Table 5-8 in *Python for Data Analysis* for a more complete list, but here are a few that are commonly used.

`count`: number of non-NA values   
`describe`: summary statistics for numerical columns   
`min`, `max`: min and max values  
`argmin`, `argmax`: index of min and max values (for Series only)   
`idxmin`, `idxmax`: index or column name of min and max values  
`sum`: sum of values  
`cumsum` : cummulative sum
`mean`: mean of values  
`quantile`: quantile from 0 to 1 of values  
`var`: (sample) variance of values  
`std`: (sample) standard deviation of values  
`df.corr()` and `df.cov()` will produce the correlation or covariance matrix.  Or two Series can be used to get the correlation (or covariance) with `Series1`.corr(`Series2`).

Numpy functions can also be used: `np.corrcoef()`

Most of these functions also take an `axis` argument which specifies whether to reduce over rows or columns: 0 for rows and 1 for columns.   
There is also an argument `skipna` which specifies whether or not to skip missing values.  The default is True.

In [ ]:
iris.sepal_length.argmin()

In [ ]:
iris.cumsum()

## Unique values and value counts

``df.nunique()`` or ``df['column'].nunique()``  

``df.value_counts()`` or ``df['column'].value_counts()``

In [ ]:
iris.nunique()

In [ ]:
iris.species.unique()

`df.corr()` and `df.cov()` will produce the correlation or covariance matrix.  Or two Series can be used to get the correlation (or covariance) with `Series1`.corr(`Series2`).

Numpy functions can also be used: `np.corrcoef()`

In [ ]:
iris.corr(numeric_only = True)

---
## Dropping rows and columns

Columns and rows can be dropped with the `.drop()` method (using `axis=1` for columns and `axis=0` (default) for rows).  This method creates a new object unless `.inplace = True` is specified.

The `del` command can also be used to drop columns in place.

In [ ]:
no_species = iris.drop('species', axis = 1)
no_species.head()

In [ ]:
# The original is unchanged if inplace = False
iris.head()

## Adding columns

Add a new column to the end of a data frame
~~~
df['new_col'] = value
~~~

Add a new column at a specific index

`.insert(col_index, 'new_col_name', value(s))`

In [ ]:
iris['sum_petal_dims'] = iris['petal_length'] + iris['petal_width']

In [ ]:
iris.head()

## Missing Values

**Ways to count missing values**
~~~
df.info()
df.isna().sum()
df.isna().sum(axis=0)
~~~

**Drop missing values with `.dropna()`**

Calling `.dropna()` without any arguments will drop all rows with missing values

Arguments:
* `axis=1` will drop columns with missing values (default is `axis=0`)
* `how='all'` will drop rows (or columns) if all the values are NA (default is `how='any'`)
* `subset=` will limit na search to these specic columns (or indexes)
    

**Fill missing values with `.fillna()`**
Arguments:
* `value`: value used to fill.
* `method'`: methods used to fill (forward or backward fill)

In [ ]:
# Creating a DataFrame with missing values
missing_data = {'A': [1, 2, np.nan],
        'B': [np.nan, 4, 6],
        'C': [7, 8, 9]}

m_df = pd.DataFrame(missing_data)
m_df

In [ ]:
m_df.info()

In [ ]:
# Check for missing values
m_df.isna()

In [ ]:
# Check how many missing values
m_df.isna().sum()

In [ ]:
# Check how many missing values
m_df.isna().sum(axis = 1)

In [ ]:
# Fill missing values
df_filled = m_df.fillna(-1)
df_filled

In [ ]:
m_df

In [ ]:
# Fill with mean column value
m_df.fillna(m_df.mean())

In [ ]:
# Remove rows with missing values
df_dropped = m_df.dropna()

# Display the cleaned DataFrame
df_dropped

In [ ]:
df.head()

### Reading in Data

In [ ]:
import numpy as np
import json
import os

In [ ]:
# Make the data directory if it doesn't exist
if not os.path.exists('data'):
    os.makedirs('data')

In [ ]:
# Write DataFrame to a CSV file
df.to_csv('data/data.csv', index=False)

# Read data from a CSV file
new_df = pd.read_csv('data/data.csv')

# Display the DataFrame
print(new_df)

### Read in CSV

In [ ]:
# Downloading data to data/ directory (May not work on Windows)
!curl -L -o data/example_csv.csv https://raw.githubusercontent.com/rhodes-byu/stat386-datasets/refs/heads/main/reading_examples/example_csv.csv

In [ ]:
df = pd.read_csv('data/example_csv.csv', index_col = 0, thousands = ',')

In [ ]:
df.head()

## read_excel

In [ ]:
!curl -L -o data/example_excel.xlsx https://raw.githubusercontent.com/rhodes-byu/stat386-datasets/refs/heads/main/reading_examples/example_excel.xlsx

In [ ]:
df = pd.read_excel('data/example_excel.xlsx', sheet_name=None)

In [ ]:
df

In [ ]:
df.keys()

In [ ]:
lines = df['lines']

In [ ]:
lines.head()

In [ ]:
df = pd.read_excel('data/example_excel.xlsx', sheet_name = 'lines')

In [ ]:
df

## json files

In [ ]:
!curl -L -o data/example_json.json https://raw.githubusercontent.com/rhodes-byu/stat386-datasets/refs/heads/main/reading_examples/example_json.json

In [ ]:
pd.read_json('data/example_json.json')

In [ ]:
with open('data/example_json.json', 'r') as file:
    json_object = json.load(open('data/example_json.json', 'r'))

print(json_object)

In [ ]:
json_object['cap']

In [ ]:
pd.DataFrame(json_object)

In [ ]:
pd.json_normalize(json_object)

## read_html

In [ ]:
import requests

url = "https://en.wikipedia.org/wiki/List_of_Super_Bowl_champions"

# Set a user-agent header
headers = {'User-Agent': 'Personal'}

# Fetch page content with user-agent
html = requests.get(url, headers=headers).content

# Parse all tables
dfs = pd.read_html(html)

In [ ]:
# Reads in a list of DataFrames from the URL (based on tables)
dfs = pd.read_html(url)

In [ ]:
len(dfs)

In [ ]:
dfs[9].head()

In [ ]:
pd.read_html(url, match = 'Joe Robbie')[0]